div.calendar {
    width: 60%;
    border: 1px solid var(--tertiary-color);
}

.calendar-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.calendar-nav > h2 {
    margin: 0 0 0 10px;
    color: var(--primary-color);
}
.date {
    display: block;
    font-size: 0;
    vertical-align: middle;
}
.date:hover {
    cursor: pointer;
}
.date > div {
    color: var(--primary-color);
    font-size: 12px;
    display: inline-block;
}
div#prev::before, div#next::after, div#now {
    width: 16px;
    height: 16px;
    display: inline-block;
    border: 1px solid var(--tertiary-color);
    text-align: center;
    border-radius: 4px;
    padding: 1px 1px 1px;
    font-weight: normal;
}
div#prev::before {
    content: '<';
}
div#now {
    width: 50px;
    height: 20px;
}
div#next::after {
    content: '>';
    margin-right: 10px;
}

.calendar-grid {
    display: grid;
    width: 100%;
    height: 450px;
    grid-template-columns: repeat(7, calc(100% / 7));
    text-align: end;
}

.calendar-grid div {
    outline: 1px solid var(--tertiary-color);
    background-color: var(--background-color);
    color: var(--primary-color);
    padding: 3px 7px 40px 0;
}
.calendar-grid > div.thead {
    outline: none;
    border-bottom: 1px solid var(--tertiary-color);
    padding: 2px 4px 0 0;
}

.today {
    color: var(--interactive-color) !important;
    font-weight: bold;
}

.selected {
    background-color: var(--interactive-color) !important;
}

.today.selected {
    color: var(--background-color) !important;
}


.grey {
    background-color: var(--background-second) !important;
}

.circle:before {
    content: ' \25CF';
    color: var(--primary-color);
}
