input, textarea {
    background-color: var(--background-color);
    color: var(--secondary-color);
    border: 1px solid var(--tertiary-color);
    outline: none;
}

.contact-container {
    width: 100%;
    display: flex;
    color: #222222;
    overflow-y: hidden;
    height: 90%;
}

.step-progress-bar {
    width: 100%;
}

.step-indicator {
    color: var(--secondary-color) !important;
}

.primaryBtnClass {
    background-color: var(--interactive-color) !important;
}


.possibilities-container {
    width: 40%;
    height: 90%;

    display: flex;
    align-items: center;
    flex-direction: column;

    overflow-y: scroll;
    padding: 50px 0;
}

.form-half-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100%;
    width: 50%;
    text-align: left;
}
