.home-container {
    display: flex;
    justify-content: space-between;

    margin: 0 1rem;
}

.step-content-container div#now {
    height: unset; /* WHY?? */
}

.home-calendar {
    margin-left: 2rem;
}
