* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

*::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}

/* Reset default browser styles */
html, body, div,
h1, h2, h3, h4, h5, h6, ul ol, li, p, blockquote, pre,
form, fieldset, table, th, td {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  color: var(--primary-color);
  background-color: var(--background-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --background-color: #FFFFFF;
  --background-second: #DFDFDF;
  --shadow-color: #EFEFEF;

  --light-text-color: #BCBCBC;

  --primary-color: #222222;
  --secondary-color: #37474F;
  --tertiary-color: #455A64;

  --error-color: #BF0000;
  --interactive-color: #387cf6;
}

[data-theme="dark"] {
  --background-color: #222222;
  --background-second: #424242;
  --shadow-color: #323232;

  --light-text-color: #656565;

  --primary-color: #DDDDDD;/*#FFFFFF;*/
  --secondary-color: #ADB6BA;/*#CFD8DC;*/
  --tertiary-color: #909CA3;/*#B0BEC5;*/

  --interactive-color: #0071BC;
}
